<template>
  <div class="mb-20 py-4 px-8">
    <CTestPerformBox
      v-if="ctest && !isEvaluated"
      :ctest="ctest"
      @submitResult="onSubmitCtest"
      @skipCTest="onSkipCtest"
    ></CTestPerformBox>
    <CTestEvaluationBox
      v-if="ctest && isEvaluated"
      :ctest="ctest"
      :evaluationResponse="evaluationResponse"
    >
    </CTestEvaluationBox>
    <CTestResultsBox
      v-if="ctest && isEvaluated"
      :ctest="ctest"
      :number-correct-gaps="evaluationResponse.numberCorrectGaps"
      :number-ctest-gaps="ctest.nrOfGaps"
      :isCtestCorrect="evaluationResponse.ctestCorrect"
      :scoring="evaluationResponse.scoring"
      :estimated-language-level="userData.currentLanguageLevel"
      @submitNext="onSubmitNext"
    ></CTestResultsBox>
    <NoCTestsFoundBox
      v-if="!ctest && noCTestFound"
      @restoreSkippedCTests="onRestoreSkippedCTests"
    >
    </NoCTestsFoundBox>
  </div>
</template>
<script>
import { languageLevelMixin } from "../../mixins/languageLevelMixin.js";
import axios from "@/utils/axios";
import qs from "qs";

export default {
  mixins: [languageLevelMixin],
  data() {
    return {
      ctest: null,
      evaluationResponse: null,
      isEvaluated: false,
      noCTestFound: false,
    };
  },
  components: {
    CTestPerformBox: () => import("@/components/CTest/CTestPerformBox"),
    CTestEvaluationBox: () => import("@/components/CTest/CTestEvaluationBox"),
    CTestResultsBox: () => import("@/components/CTest/CTestResultsBox"),
    NoCTestsFoundBox: () => import("@/components/CTest/NoCTestsFoundBox"),
  },
  computed: {
    completedCTests() {
      return this.$store.getters.getCompletedCTests;
    },
    userData() {
      return this.$store.getters.getUserData;
    },
  },
  methods: {
    async fetchCTestByUserData() {
      this.noCTestFound = false;
      const response = await axios.get(`/api/ctest`, {
        params: {
          languageCode: this.userData.trainedLanguage,
          completedCTests: this.completedCTests,
          languageLevel: this.userData.currentLanguageLevel,
        },
        paramsSerializer: (params) => {
          return qs.stringify(params, { arrayFormat: "repeat" });
        },
      });
      if (response.status != 200) {
        this.ctest = response.data;
        this.noCTestFound = true;
      } else {
        this.ctest = response.data;
        this.$store.dispatch("ADD_CTEST_TO_PROGRESS", {
          id: this.ctest.id,
          languageLevel: this.ctest.fetchedFromEvaluations
            ? this.languageLevelByEvaluatedDifficulty(
                this.ctest.evaluatedDifficulty
              )
            : this.languageLevelByEstimatedDifficulty(
                this.ctest.estimatedDifficulty
              ),
          status: "IN_PROGRESS",
        });
      }
    },
    async fetchCTest() {
      this.noCTestFound = false;
      const response = await axios.get(`/api/ctests/random`);
      if (response.status == 204) {
        this.ctest = response.data;
        this.noCTestFound = true;
      } else {
        this.ctest = response.data;
      }
    },
    async onSubmitCtest(results) {
      this.evaluationResponse = results;
      this.isEvaluated = true;
      this.$store.dispatch("SET_CTEST_PROGRESS_STATUS", {
        id: this.evaluationResponse.ctestId,
        status: this.evaluationResponse.ctestCorrect ? "CORRECT" : "WRONG",
      });
    },
    onSubmitNext() {
      this.evaluationResponse = null;
      this.isEvaluated = false;
      this.fetchCTestByUserData();
    },
    onSkipCtest() {
      this.evaluationResponse = null;
      this.isEvaluated = false;
      this.fetchCTestByUserData();
    },
    onRestoreSkippedCTests() {
      this.evaluationResponse = null;
      this.isEvaluated = false;
      this.fetchCTestByUserData();
    },
  },
  created() {
    this.fetchCTestByUserData();
  },
};
</script>
