<template>
  <div style="margin-top: 40px">
    <div class="font-bold text-3xl mb-8">
      {{ ctest.name }}
    </div>
<!--     <div>{{evaluationResponse}}</div> -->
    <div ref="ctestForm" id="ctest-form-container">
      <div class="flex flex-row flex-wrap items-start">
        <div
          class="mr-2 my-4"
          :class="token.value.length < 2 && token.value == ',' || token.value == '.' || token.value == ':' ? 
            	'-ml-2 mr-2' : 'mr-2 '"
          v-for="token in ctest.cTestTokens"
          :key="token.id"
        >
          <p v-if="!token.gapStatus">{{ token.value }}</p>
          <EvaluatedCTestToken
            v-else
            :token="token"
            :token-evaluation="getEvaluationToken(token.id)"
          ></EvaluatedCTestToken>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "@/utils/axios";

export default {
  props: {
    ctest: {
      type: Object,
      required: true,
    },
    evaluationResponse: {
      type: Object,
      required: true,
    },
  },
  components: {
    EvaluatedCTestToken: () =>
      import("@/components/CTestToken/EvaluatedCTestToken"),
  },
  methods: {
    getEvaluationToken(tokenId) {
      return this.evaluationResponse.cTestEvaluationTokenResponses.find((evaluationToken) => {
        return evaluationToken.ctestToken.id === tokenId;
      });
    },
  },
};
</script>
