<template>
  <div class="flex flex-col mt-10 mb-20">
    <div class="flex flex-row border-b ">
      <div class="w-10 h-10 fill-current flex-shrink-0 text-gray-300">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          data-name="Layer 1"
          viewBox="0 0 128 160"
          x="0px"
          y="0px"
        >
          <title>96 Miscellaneous 21 solid</title>
          <path
            d="M42.76,16l.47,1.33A4,4,0,0,0,47,20H81a4,4,0,0,0,3.77-2.67L85.24,16H89a4,4,0,0,0,4-4V8a4,4,0,0,0-4-4H85a4.09,4.09,0,0,0-.26-1.4c0-.13-.11-.26-.17-.38L84.43,2a2.84,2.84,0,0,0-.22-.34A1.84,1.84,0,0,0,84,1.42a4.63,4.63,0,0,0-.5-.49L83.3.73,83,.56,82.69.38l-.3-.12L82,.13,81.72.07A4.18,4.18,0,0,0,81,0H47a4.18,4.18,0,0,0-.72.07L46,.13l-.41.13-.3.12L45,.56l-.3.17-.24.2a4.63,4.63,0,0,0-.5.49,1.84,1.84,0,0,0-.17.22,2.84,2.84,0,0,0-.22.34l-.14.24c-.06.12-.12.25-.17.38A4.09,4.09,0,0,0,43,4H39a4,4,0,0,0-4,4v4a4,4,0,0,0,4,4ZM85,8h4v4H85ZM47,4H81V16H47ZM39,8h4v4H39Z"
          />
          <path
            d="M75,76.23,56.24,93.37l-3.06-3.9A2,2,0,1,0,50,91.94l4.39,5.59a2,2,0,0,0,1.4.76H56a2,2,0,0,0,1.35-.52L77.74,79.18a2,2,0,1,0-2.7-3Z"
          />
          <path
            d="M104,8H97v4a8,8,0,0,1-8,8H87.92A8,8,0,0,1,81,24H47a8,8,0,0,1-6.92-4H39a8,8,0,0,1-8-8V8H22a4,4,0,0,0-4,4V124a4,4,0,0,0,4,4h82a4,4,0,0,0,4-4V12A4,4,0,0,0,104,8ZM28,35H54a2,2,0,0,1,0,4H28a2,2,0,0,1,0-4ZM26,47a2,2,0,0,1,2-2H54a2,2,0,0,1,0,4H28A2,2,0,0,1,26,47Zm29,73a2,2,0,1,1,2-2A2,2,0,0,1,55,120Zm8,0a2,2,0,1,1,2-2A2,2,0,0,1,63,120Zm8,0a2,2,0,1,1,2-2A2,2,0,0,1,71,120Zm-7-8A25,25,0,1,1,89,87,25,25,0,0,1,64,112ZM99.64,58.24a2,2,0,0,1-2.72-.77c-1.55-2.79-6.87-4-8.79-4.27a5.21,5.21,0,0,1-1.19-.32A5.71,5.71,0,0,1,84.34,51l-.07-.09a8,8,0,0,1-4.41,1.31A8.6,8.6,0,0,1,75.6,51,5.79,5.79,0,0,1,73,52.91a4.39,4.39,0,0,1-1,.27c-2,.26-7.33,1.5-8.88,4.29a2,2,0,1,1-3.49-2c2.81-5,10.88-6.18,11.79-6.29l.19-.06a2,2,0,0,0,.88-.6l0-.07.12-.18a17.4,17.4,0,0,1-3.39-10A10.77,10.77,0,0,1,80,27.61,10.77,10.77,0,0,1,90.77,38.35a12.4,12.4,0,0,1-.44,3.24A19.07,19.07,0,0,1,87.2,48s0,0,0,0a3.7,3.7,0,0,0,.28.44l0,.07a1.83,1.83,0,0,0,.81.57,1.29,1.29,0,0,0,.35.1c.82.1,8.89,1.24,11.7,6.28A2,2,0,0,1,99.64,58.24Z"
          />
          <path
            d="M80,31.61a6.75,6.75,0,0,0-4.7,1.89,6.68,6.68,0,0,0-2.07,4.85,13.22,13.22,0,0,0,3,8.12,4.46,4.46,0,0,0,6.17.78,13.38,13.38,0,0,0,4-6.72,8.24,8.24,0,0,0,.3-2.18A6.76,6.76,0,0,0,80,31.61Zm.43,6.7a.86.86,0,0,0-.6.24.83.83,0,0,0-.26.61,2,2,0,1,1-4,0,4.86,4.86,0,0,1,4.86-4.85,2,2,0,0,1,0,4Z"
          />
        </svg>
      </div>
      <h1 class="text-3xl px-4">Auswertung</h1>
    </div>
    <div class="flex flex-row mt-10 items-center">
      <div class="w-1/3 lg:w-1/6">
        <p class="text-gray-800 text-base md:text-lg">Richtige Lücken:</p>
      </div>
      <div class="w-2/3 lg:w-5/6">
        <p class="text-gray-800 text-base md:text-lg">
          <span
            class="text-xl md:text-2xl font-bold "
            :class="isCtestCorrect ? 'text-green-500' : 'text-red-500'"
            >{{ numberCorrectGaps }}</span
          >
          von 
          <span class="text-xl md:text-2xl text-gray-800">{{
            numberCtestGaps
          }}</span>
        </p>
      </div>
    </div>
    <div class="flex flex-row mt-4 items-center">
      <div class="w-1/3 lg:w-1/6">
        <p class="text-gray-800 text-base md:text-lg">Vergleich:</p>
      </div>
      <div class="w-2/3 lg:w-5/6">
        <p class="text-gray-800 text-base md:text-lg">
          Besser als
          <span class="text-xl md:text-2xl font-bold text-gray-800">{{scoring.toFixed(0)}}%</span>
          der anderen Nutzer.
        </p>
      </div>
    </div>
    <div class="flex flex-row mt-4 items-center">
      <div class="w-1/3 lg:w-1/6">
        <p class="text-gray-800 text-base md:text-lg">Einschätzung:</p>
      </div>
      <div class="w-2/3 lg:w-5/6">
        <p class="text-gray-800 text-base md:text-lg">
          <span class="font-bold text-xl md:text-2xl text-gray-800"
            >Level {{estimatedLanguageLevel}}</span
          >
          ({{estimatedLanguageLevel | languageLevelConversion}})
        </p>
      </div>
    </div>
    <button
      @click.prevent="nextCTest"
      class="px-8 py-2 bg-blue-800 font-light text-white mt-8 md:mt-4 self-end hover:bg-blue-900"
    >
      Zum nächsten C-Test
    </button>
  </div>
</template>
<script>
import { languageLevelMixin } from "../../mixins/languageLevelMixin.js";

export default {
  mixins: [languageLevelMixin],
  props: {
    numberCorrectGaps: {
      type: Number,
    },
    numberCtestGaps: {
      type: Number,
    },
    isCtestCorrect: {
      type: Boolean
    },
    scoring: {
      type: Number
    },
    estimatedLanguageLevel: {
      type: Number
    }
  },
  methods: {
    nextCTest() {
      this.$emit("submitNext");
    },
  },
};
</script>
