<template>
  <section>
    <b-table :data="ctests" :paginated="true" per-page="10" striped hoverable :loading="isLoading">
      <template slot-scope="props">
        <b-table-column field="id" label="Name" width="240" sortable>
          <router-link
            :to="{ name: 'CTestDetails', params: { ctestId: props.row.id } }"
            class="font-regular text-gray-800 hover:text-blue-500"
          >
            <div class="flex flex-row items-center w-full">
              <div class="w-4 h-4 fill-current mr-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path
                    d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                  />
                </svg>
              </div>
              <p class="leading-normal truncate w-32 lg:w-64">{{ props.row.name }}</p>
            </div>
          </router-link>
        </b-table-column>
        <b-table-column
          field="language"
          label="Sprache"
          width="40"
          sortable
        >{{ props.row.language }}</b-table-column>
        <b-table-column
          field="estimatedDifficulty"
          label="Eingeschätzte Schwierigkeit"
          width="100"
          sortable
          numeric
        >{{ props.row.estimatedDifficulty }}</b-table-column>
        <b-table-column
          field="evaluatedDifficulty"
          label="Evaluierte Schwierigkeit"
          width="100"
          sortable
          numeric
        >{{ props.row.evaluatedDifficulty.toFixed(2) }}</b-table-column>
        <b-table-column
          field="nrOfEvaluations"
          label="Anzahl Evaluationen"
          width="100"
          sortable
          numeric
        >{{ props.row.nrOfEvaluations }}</b-table-column>
        <b-table-column
          field="nrOfGaps"
          label="Anzahl Lücken"
          width="50"
          sortable
          numeric
        >{{ props.row.nrOfGaps }}</b-table-column>
        <b-table-column field="type" label="Typ" width="50" sortable>
          <b-tag>{{ props.row.type }}</b-tag>
        </b-table-column>
      </template>
      <template slot="empty">
        <section class="section" v-if="ctests.length > 0 && !isLoading">
          <div class="content has-text-grey has-text-centered">
            <p
              class="font-bold text-gray-800"
            >Es wurden noch keine C-Tests angelegt oder importiert.</p>
          </div>
        </section>
      </template>
    </b-table>
  </section>
</template>
<script>
import axios from "@/utils/axios";

export default {
  name: "Admin",
  data() {
    return {
      perPage: 5,
      isLoading: true
    };
  },
  computed: {
    ctests() {
      let ctests = this.$store.getters.getCtests || [];
      if (ctests.length > 0) {
        ctests.map(ctest => {
          ctest.nrOfEvaluations = ctest.cTestEvaluations ? ctest.cTestEvaluations.length : 0;
        });
      }
      return ctests;
    }
  },
  async created() {
    await this.$store.dispatch("SET_CTEST_DATA");
    this.isLoading = false;
  }
};
</script>
