<template>
  <section>
    <b-table
      :data="tokens"
      ref="ctestDetailTable"
      hoverable
      detailed
      :paginated="true"
      per-page="30"
      :has-detailed-visible="(row) => row.cTestTokensMistakes.length > 1"
      custom-detail-row
      :default-sort="['id', 'asc']"
    >
      <template slot-scope="props">
        <b-table-column
          field="value"
          label="Token"
          width="220"
          sortable
          detailed
        >
          <template>
            <p>
              {{ props.row.value }}
            </p>
          </template>
        </b-table-column>
        <b-table-column field="gap" label="Lücke" width="220" sortable>
          <template>
            <p>
              {{ props.row.value.substring(0, props.row.offset) }}
              <span>{{ "_".repeat(props.row.offset + 1) }}</span>
            </p>
          </template>
        </b-table-column>

        <b-table-column
          field="mostCommonError"
          label="Fehler (#)"
          width="220"
          centered
        >
          <div v-if="props.row.mostCommonError == 0">
            <b-tag>
              Keine Fehler
            </b-tag>
          </div>
          <div v-else-if="props.row.mostCommonError.value == ''">
            <b-tag> Leeres Feld ({{ props.row.mostCommonError.count }}) </b-tag>
          </div>
          <p v-else>
            {{ props.row.mostCommonError.value }}
            <span class="text-light text-sm"
              >({{ props.row.mostCommonError.count }})</span
            >
          </p>
        </b-table-column>

        <b-table-column
          field="evaluatedGapDifficulty"
          label="Evaluierte Schwierigkeit"
          sortable
          numeric
        >
          {{ props.row.evaluatedGapDifficulty.toFixed(2) }}
        </b-table-column>
        <b-table-column
          field="calculatedGapDifficulty"
          label="Berechnete Schwierigkeit"
          sortable
          numeric
        >
          {{ props.row.calculatedGapDifficulty.toFixed(2) }}
        </b-table-column>
      </template>

      <template slot="detail" slot-scope="props">
        <tr
          v-for="item in props.row.cTestTokensMistakes
            .filter((t) => t.id != props.row.mostCommonError.id)
            .sort((a, b) => b.count - a.count)"
          :key="item.id"
        >
          <td></td>
          <td></td>
          <td></td>
          <td class="has-text-centered">
            <b-tag v-if="item.value == ''">
              Leeres Feld ({{ item.count }})
            </b-tag>
            <p v-else>
              {{ item.value }}
              <span class="text-light text-sm">({{ item.count }})</span>
            </p>
          </td>
          <td></td>
          <td></td>
        </tr>
      </template>
    </b-table>
  </section>
</template>

<script>
export default {
  props: {
    tokens: {
      type: Array,
    },
  },
  methods: {
    toggle(row) {
      this.$refs.table.toggleDetails(row);
    },
  },
};
</script>
