<template>
  <div style="margin-top: 40px">
    <h2 class="font-bold text-3xl mb-8">{{ ctest.name }}</h2>
    <form ref="ctestForm" id="ctest-form-container" class="flex flex-col">
      <div class="flex flex-row flex-wrap items-center">
        <div
          class="my-4"
          :class="token.value.length < 2 && token.value == ',' || token.value == '.' || token.value == ':'? 
            	'-ml-2 mr-2' : 'mr-2 '"
          v-for="token in ctest.cTestTokens"
          :key="token.id"
        >
          <p v-if="!token.gapStatus">
            {{ token.value }}
          </p>
          <GapedCTestTokenInput v-else :token="token"></GapedCTestTokenInput>
        </div>
      </div>
      <div class="self-end ">
        <button
          @click.prevent="skipCTest"
          class="px-8 py-2 bg-white-300 font-light text-blue-800 mt-4 border-2 border-blue-800 hover:border-blue-300 hover:text-blue-300 mr-4"
        >
          Skip
        </button>
        <button
          @click.prevent="sendCTest"
          class="px-8 py-2 bg-blue-800 font-light text-white mt-4 border-2 border-blue-800 hover:border-blue-900 hover:bg-blue-900"
        >
          Auswerten
        </button>
      </div>
    </form>
  </div>
</template>
<script>
import { ADD_COMPLETED_CTEST } from "../../store/actions/userData";
import axios from "@/utils/axios";

export default {
  props: {
    ctest: {
      type: Object,
      required: true,
    },
  },
  components: {
    GapedCTestTokenInput: () =>
      import("@/components/CTestToken/GapedCTestTokenInput"),
  },
  filters: {
    showCtestToken: function(token) {
      return token.gapStatus
        ? token.value.substring(token.length, token.offset)
        : token.value;
    },
  },
  computed: {
    userData() {
      return this.$store.getters.getUserData;
    },
  },
  methods: {
    async sendCTest() {
      const form = this.$refs.ctestForm;
      const formData = new FormData(form);

      const tokenInputEntries = Object.entries(Object.fromEntries(formData));
      let tokenInputs = [];
      for (let tokenInputEntry of tokenInputEntries) {
        tokenInputs.push(this.parseTokenInput(tokenInputEntry));
      }

      const ctestEvaluationRequest = {
        userData: this.userData,
        tokenInputs,
      };
      const response = await axios.post(
        `/api/ctest/evaluate/${this.ctest.id}`,
        ctestEvaluationRequest
      );
      this.$store.dispatch("ADD_COMPLETED_CTEST", this.ctest.id);
      this.$store.dispatch("UPDATE_USER_CURRENT_LANGUAGE_LEVEL", response.data.userEstimatedLanguageLevel)
      this.$emit("submitResult", response.data);
    },
    skipCTest() {
      this.$store.dispatch("ADD_COMPLETED_CTEST", this.ctest.id);
      this.$store.dispatch("ADD_SKIPPED_CTEST", this.ctest.id);
      this.$store.dispatch("SET_CTEST_PROGRESS_STATUS", {
        id: this.ctest.id,
        status: "SKIPPED",
      });
      this.$emit("skipCTest");
    },
    parseTokenInput(input) {
      return {
        tokenId: input[0].split("-")[2],
        gapValue: input[1],
      };
    },
  },
};
</script>
