<template>
  <div class="flex flex-col justify-center items-center mt-20">
    <h2 class="font-bold text-3xl mb-8">
      Wir konnten leider keinen C-Test finden.
    </h2>
    <p class="font-bold text-base mb-8 text-center">
      Es tut uns leid. Wir konnten leider keinen C-Test für dein eingeschätztes
      Sprachniveau finden. <br />
      Du kannst eine andere Sprache trainieren, oder deinen Fortschritt
      zurücksetzen.
    </p>
    <div v-if="skippedCTests.length > 0" class="flex flex-col justify-center items-center">
      <p class="font-bold text-base mt-4 mb-2 text-center">
        Du hast während des Trainings C-Tests übersprungen. Möchtest du diese erneut versuchen?
      </p>
      <button
        @click.prevent="restoreSkippedCTests"
        class="px-8 py-2 bg-white-300 font-light text-blue-800 mt-4 border-2 border-blue-800 hover:border-blue-300 hover:text-blue-300 mr-4"
      >
        Übersprungene C-Tests erneut versuchen
      </button>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    skippedCTests() {
      return this.$store.getters.getSkippedCtests;
    },
  },
  methods: {
    restoreSkippedCTests() {
      this.$store.dispatch("RESTORE_SKIPPED_CTESTS");
      this.$emit("restoreSkippedCTests");
    },
  },
};
</script>
