<template>
  <div>
    <h1 v-if="seriesData.length == 0">No Data!</h1>
    <v-chart :options="chartOptions" :autoresize="true" />
  </div>
</template>
<script>
import ECharts from "vue-echarts";
import "echarts/lib/chart/pie";
import "echarts/lib/component/tooltip";
var colorPalette = ["#70D6FF", "#FF70A6", "#FF9770", "#FFD670"];

export default {
  components: {
    "v-chart": ECharts
  },
  created() {
    window.addEventListener("resize", this.onResize);
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },
  data() {
    return {
      windowWidth: window.innerWidth
    };
  },

  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    }
  },
  computed: {
    labelStyle() {
      return this.windowWidth >= 768 ? "outer" : "inner";
    },
    seriesData() {
      let ctests = this.$store.getters.getCtests;
      if (!ctests) return [];

      let counter = {};
      for (let ctest of ctests) {
        counter[ctest.language] = (counter[ctest.language] || 0) + 1;
      }

      let series = Object.entries(counter).map(([name, value]) => ({
        value: value,
        name: name
      }));

      return series.sort(function(a, b) {
        return a.value - b.value;
      });
    },
    chartOptions() {
      return {
        title: {
          left: "center",
          top: 20,
          textStyle: {
            color: "#ccc"
          }
        },

        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        label: {
          formatter: "{b}:{c}\n({d}%)"
        },
        grid: {
          containLabel: true
        },

        series: [
          {
            name: "Sprachverteilung",
            color: colorPalette,
            type: "pie",
            radius: "90%",
            center: ["50%", "50%"],
            data: this.seriesData,
            label: {
              position: this.labelStyle
            }
          }
        ]
      };
    }
  }
};
</script>
<style scoped>
.echarts {
  width: 100%;
  height: 100%;
  min-height: 400px;
}
</style>
