<template>
  <div class="flex flex-row justify-start items-center">
    <div v-if="tokenEvaluation.correct == true">
      <p style="color: green;">{{ tokenEvaluation.ctestToken.value }}</p>
    </div>
    <div v-else class="flex flex-col items-center justify-center">
      <p>{{tokenEvaluation.ctestToken.value.substring(0,tokenEvaluation.ctestToken.offset)}}
        <span class="text-red-500">{{tokenEvaluation | showUserGapValue}}</span>
      </p>
      <div
        class="text-green-500 flex flex-row justify-start items-center"
      >
        <b-icon icon="arrow-right" size="is-small"> </b-icon>
        <p>{{ tokenEvaluation.ctestToken.value }}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    token: {
      type: Object,
      required: true,
    },
    tokenEvaluation: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      tokenInput: "",
    };
  },
  filters: {
    showUserGapValue(evaluation) {
      return evaluation.userGapValue ? evaluation.userGapValue : "_".repeat(evaluation.ctestToken.offset) 
    }
  }
};
</script>
