<template>
  <div class="flex flex-row justify-center items-center">
    <p>{{ token.value.substring(0, token.offset) }}</p>
    <input
      v-model="tokenInput"
      :name="'token-input-' + token.id"
      :key="token.id"
      v-autowidth="{ maxWidth: '960px', minWidth: '15px', comfortZone: 0 }"
      class="border-b-2 border-blue-300 w-full rounded py-1 px-2 leading-tight focus:outline-none"
      autocomplete="off"
    />
  </div>
</template>
<script>
export default {
  props: {
    token: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      tokenInput: ""
    };
  }
};
</script>
