<template>
  <form action class="is-4by3" v-on:submit.prevent>
    <div id="create-ctest-modal-container" class="modal-card min-w-full">
      <header class="modal-card-head">
        <p class="modal-card-title font-bold text-gray-800">C-Test erstellen</p>
      </header>
      <ValidationObserver slim ref="observer">
        <section class="modal-card-body">
          <ValidationProvider rules="required" v-slot="{ errors }">
            <b-field label="Titel *" :type="{ 'is-danger': errors[0] }" :message="errors">
              <b-input v-model="ctestName"></b-input>
            </b-field>
          </ValidationProvider>
          <ValidationProvider rules="required" v-slot="{ errors }">
            <b-field label="Sprache *" :type="{ 'is-danger': errors[0] }" :message="errors">
              <b-select v-model="ctestLanguage" placeholder="Sprache *" expanded>
                <option
                  v-for="(la, index) in availableLanguages"
                  :key="index"
                  :value="la.languageCode"
                >{{ la.language }}</option>
              </b-select>
            </b-field>
          </ValidationProvider>
          <ValidationProvider rules="required" v-slot="{ errors }">
            <b-field
              label="Typ *"
              :type="{ 'is-danger': errors[0] }"
              :message="errors"
              class="mt-4"
            >
              <b-select v-model="ctestType" placeholder="Typ *" expanded>
                <option value="prefix">Prefix</option>
                <option value="postfix">Postfix</option>
              </b-select>
            </b-field>
          </ValidationProvider>
          <div class="w-full">
            <b-field label="Wie schätzt du die Schwierigkeit dieses C-Tests ein? *" class="mt-10">
              <b-slider
                v-model="ctestEstimatedDifficulty"
                size="is-medium"
                :min="1"
                :max="6"
                :tooltip="false"
              >
                <b-slider-tick :value="1">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau A1"
                    position="is-right"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <div class="flex flex-col justify-center items-center mt-2 text-sm font-bold">
                      <p>1</p>
                    </div>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="2">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau A2"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold">2</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="3">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau B1"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold">3</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="4">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau B2"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold">4</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="5">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau C1"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold">5</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="6">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau C2"
                    position="is-left"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <div class="flex flex-col justify-center items-center mt-2 text-sm font-bold">
                      <p>6</p>
                    </div>
                  </b-tooltip>
                </b-slider-tick>
              </b-slider>
            </b-field>
          </div>
          <div class="mt-10">
            <p class="font-bold text-lg text-gray-800 text-left">C-Test (Text) *</p>
            <p
              class="font-light text-sm text-gray-600 text-left mb-2"
            >Bitte den Text des zugehörigen C-Tests angeben. Die dem C-Test zugehörigen Lücken müssen in Klammern '{ --- }' angegeben werden.</p>
            <b-field>
              <div>
                <b-input v-model="ctestText" type="textarea" rows="10"></b-input>
              </div>
            </b-field>
          </div>
          <button
            v-on:click="$parent.close()"
            class="px-8 py-2 bg-white-300 font-light text-blue-800 mt-4 border-2 border-blue-800 hover:border-blue-300 hover:text-blue-300 mr-4"
          >Schließen</button>
          <button
            class="px-8 py-2 bg-blue-800 font-light text-white mt-4 border-2 border-blue-800 hover:border-blue-900 hover:bg-blue-900"
            @click.prevent="createCtest"
          >Erstellen</button>
          <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="true"></b-loading>
        </section>
      </ValidationObserver>
    </div>
  </form>
</template>
<style>
.textarea {
  height: 387px;
}
</style>

<script>
import axios from "@/utils/axios";
const fs = require("fs");
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
const average = list => list.reduce((prev, curr) => prev + curr) / list.length;
import { required } from "vee-validate/dist/rules";

extend("required", {
  ...required,
  message: "Es handelt sich um ein Pflichtfeld."
});

function between(numb, min, max) {
  return numb >= min && numb <= max;
}

const difficultyMap = [
  {
    min: 0,
    max: 1 / 6,
    aggregatedDifficulty: 1,
    speakLevel: "A1"
  },
  {
    min: 1 / 6,
    max: 2 / 6,
    aggregatedDifficulty: 2,
    speakLevel: "A2"
  },
  {
    min: 2 / 6,
    max: 3 / 6,
    aggregatedDifficulty: 3,
    speakLevel: "B1"
  },
  {
    min: 3 / 6,
    max: 4 / 6,
    aggregatedDifficulty: 4,
    speakLevel: "B2"
  },
  {
    min: 4 / 6,
    max: 5 / 6,
    aggregatedDifficulty: 5,
    speakLevel: "C1"
  },
  {
    min: 5 / 6,
    max: 1,
    aggregatedDifficulty: 6,
    speakLevel: "C2"
  }
];

function diffcultyMapper(difficulty) {
  let diffIntervall = difficultyMap.find(intervall => {
    return between(difficulty, intervall.min, intervall.max);
  });
  return diffIntervall.aggregatedDifficulty;
}

function readCtest(file) {
  return new Promise((resolve, reject) => {
    let ctest = null;
    const reader = new FileReader();

    reader.onload = function(event) {
      ctest = JSON.parse(event.target.result);
      resolve(ctest);
    };
    reader.readAsText(file, "UTF-8");
  });
}

export default {
  data() {
    return {
      ctestName: "",
      ctestLanguage: "",
      ctestType: "",
      ctestEstimatedDifficulty: -1,
      ctestCalculatedDifficulty: -1,
      ctestText: "",
      isLoading: false,
      availableLanguages: []
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    async createCtest() {
      const validate = await this.$refs.observer.validate();
      if (!validate) {
        return;
      }
      let self = this;
      self.isLoading = true;
      let ctestImport = {
        name: this.ctestName,
        language: this.ctestLanguage,
        type: this.ctestType,
        estimatedDifficulty: this.ctestEstimatedDifficulty,
        cTestContent: this.ctestText
      };
      let cTestName = this.ctestName;
      axios({
        method: "post",
        url: "/api/ctests/create",
        data: ctestImport
        // headers: { "Content-Type": "multipart/form-data" }
      })
        .then(function(response) {
          if (response.status == 200) {
            self.isLoading = false;
            self.$buefy.toast.open({
              duration: 3000,
              message: `C-Test: ${cTestName} erfolgreich erstellt`,
              type: "is-success"
            });

            const ctest = response.data;
            ctest.nrOfEvaluations = 0;
            self.$store.dispatch("APPEND_CTEST_DATA", ctest);

            self.ctestName = "";
            self.ctestLanguage = "";
            self.ctestType = "";
            self.ctestEstimatedDifficulty = -1;
            self.ctestText = "";
            self.$parent.close();
          } else {
            self.$buefy.toast.open({
              duration: 3000,
              message: `Es ist ein Fehler aufgetreten: ${response.status}`,
              type: "is-danger"
            });
          }
        })
        .catch(function(response) {
          self.isLoading = false;
          self.$buefy.toast.open({
            duration: 3000,
            message: `Es ist ein Fehler aufgetreten`,
            type: "is-danger"
          });
        });
    }
  },

  async created() {
    let languages = await axios.get(`/api/languages`);
    this.availableLanguages = languages.data;
  }
};
</script>
