<template>
  <header
    id="navigation-top"
    class="bg-white w-full md:px-4 md:flex md:justify-between md:items-center"
  >
    <div class="h-20 bg-white flex items-center justify-between px-4 ">
      <div>
        <div>
          <p class="font-bold text-xl text-gray-800">C-Test Evaluator</p>
        </div>
      </div>
      <div class="md:hidden">
        <button
          class="focus:outline-none hover:opacity-75"
          @click="isOpen = !isOpen"
        >
          <svg
            class="w-8 h-8 fill-current text-gray-800 md:hidden"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              v-if="isOpen"
              d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"
            />
            <path v-else d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </div>
    <div
      :class="isOpen ? 'block' : 'hidden'"
      class="pb-4 md:pb-0 md:flex md:w-full md:justify-between items-center container "
    >
      <div class="md:flex items-center text-base flex-wrap ">
        <router-link
          to="/"
          class="flex items-center font-semibold text-gray-800 h-full md:mx-2 px-8 py-4 md:py-2 md:rounded-sm hover:bg-blue-300 hover:text-white  border-b-2 border-white hover:border-blue-300"
        >
          Sprachniveauanalyse
        </router-link>
        <router-link
          to="/about"
          class="flex items-center font-semibold text-gray-800 h-full md:mx-2 px-8 py-4 md:py-2 md:rounded-sm hover:bg-blue-300 hover:text-white border-b-2 border-white hover:border-blue-300"
        >
          Über das Projekt
        </router-link>
        <router-link
          v-if="isAuthenticated"
          to="/admin"
          class="flex items-center font-semibold text-gray-800 h-full md:mx-2 px-8 py-4 md:py-2 md:rounded-sm hover:bg-blue-300 hover:text-white border-b-2 border-white hover:border-blue-300"
        >
          Administration
        </router-link>
      </div>
      <div class="md:flex items-center text-base flex-wrap ">
        <router-link
          v-if="!isAuthenticated"
          to="/signin"
          class="flex items-center font-semibold text-gray-800 h-full px-8 py-4 md:py-2 md:rounded-sm hover:bg-blue-300 hover:text-white border-b-2 border-white hover:border-blue-300"
        >
          Adminstration
        </router-link>
        <button
          v-else
          @click="logout"
          class="flex w-full items-center font-semibold text-gray-800 h-full px-8 py-4 md:py-2 md:rounded-sm hover:bg-blue-300 hover:text-white border-b-2 border-white hover:border-blue-300"
        >
          logout
        </button>
      </div>
    </div>
  </header>
</template>
<script>
import { AUTH_LOGOUT } from '../../store/actions/auth';
export default {
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    logout: function() {
      this.$store.dispatch(AUTH_LOGOUT).then(() => {
        this.$router.push("/");
      });
    },
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
  },
};
</script>
