<template>
  <form action v-on:submit.prevent>
    <div class="modal-card w-full">
      <header class="modal-card-head">
        <p class="modal-card-title font-bold text-gray-800">C-Test Import</p>
      </header>
      <ValidationObserver slim ref="observer">
        <section class="modal-card-body">
          <b-field label="Titel *">
            <b-input v-model="ctestName" class="w-full"></b-input>
          </b-field>

          <ValidationProvider rules="required" v-slot="{ errors }">
            <b-field
              label="Sprache *"
              :type="{ 'is-danger': errors[0] }"
              :message="errors"
            >
              <b-select
                v-model="ctestLanguage"
                placeholder="Die Sprache des CTests"
                expanded
              >
                <option
                  v-for="(la, index) in availableLanguages"
                  :key="index"
                  :value="la.languageCode"
                  >{{ la.language }}</option
                >
              </b-select>
            </b-field>
          </ValidationProvider>
          <ValidationProvider rules="required" v-slot="{ errors }">
            <b-field
              label="Typ *"
              :type="{ 'is-danger': errors[0] }"
              :message="errors"
            >
              <b-select
                v-model="ctestType"
                placeholder="Typ des CTests"
                expanded
              >
                <option value="prefix">Prefix</option>
                <option value="postfix">Postfix</option>
              </b-select>
            </b-field>
          </ValidationProvider>
          <div class="w-full">
            <b-field
              label="Wie schätzt du die Schwierigkeit dieses C-Tests ein? *"
              class="mt-10"
            >
              <b-slider
                v-model="ctestEstimatedDifficulty"
                size="is-medium"
                :min="1"
                :max="6"
                :tooltip="false"
              >
                <b-slider-tick :value="1">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau A1"
                    position="is-right"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <div
                      class="flex flex-col justify-center items-center mt-2 text-sm font-bold"
                    >
                      <p>1</p>
                    </div>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="2">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau A2"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold ">2</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="3">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau B1"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold ">3</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="4">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau B2"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold ">4</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="5">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau C1"
                    position="is-bottom"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <p class="mt-2 text-sm font-bold ">5</p>
                  </b-tooltip>
                </b-slider-tick>
                <b-slider-tick :value="6">
                  <b-tooltip
                    label="Entspricht ungefähr CEFR Nievau C2"
                    position="is-left"
                    size="is-small"
                    type="is-dark"
                    animated
                    multilined
                  >
                    <div
                      class="flex flex-col justify-center items-center mt-2 text-sm font-bold "
                    >
                      <p>6</p>
                    </div>
                  </b-tooltip>
                </b-slider-tick>
              </b-slider>
            </b-field>
          </div>
          <div class="mt-10">
            <ValidationProvider rules="required" v-slot="{ errors }">
              <p class="mt-8 text-base font-bold">C-Test hochladen</p>
              <p class="my-1 text-sm">Erlaubte Formate: JSON</p>
              <div class="flex flex-col justify-start mb-4">
                <div
                  class="flex flex-row justify-start items-start bg-gray-300 rounded p-2 cursor-pointer"
                  @click="openInfo"
                >
                  <div class="flex flex-col">
                    <p class="font-light text-sm text-gray-600 text-left mb-2">
                      Informationen über die Struktur
                    </p>
                  </div>
                  <svg
                    v-if="!infoOpen"
                    class="h-6 w-6 text-gray-600 cursor-pointer"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <svg
                    v-if="infoOpen"
                    @click="progressOpen = progressOpen"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 text-gray-600 cursor-pointer"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"
                    />
                  </svg>
                </div>
                <div v-if="infoOpen" class="bg-gray-100 p-2 w-full">
                  <p class="font-base text-sm text-gray-800 text-left mb-2">Die importiere JSON Datei muss <br> 
                  in folgende Struktur angegeben werden: </p>
                  <p class="font-light text-sm text-gray-600 text-left code">
                    "{words": [{ <br>
                      "id": number,<br>
                      "gapStatus": boolean, <br>
                      "offset": number:, <br>
                      "value": string, <br>
                      "isNormal": number, <br>
                      "difficulty": number, <br>
                      "isLastTokenInSentence": boolean <br>
                    }, <br>
                    ... <br>
                    ]} <br>
                  </p>
                </div>
              </div>

              <b-field :type="{ 'is-danger': errors[0] }" :message="errors">
                <b-upload
                  v-model="ctestFile"
                  v-if="ctestFile == null"
                  drag-drop
                >
                  <section class="section">
                    <div class="content has-text-centered">
                      <p>
                        <b-icon icon="upload" size="is-large"></b-icon>
                      </p>
                      <p>Drop your files here or click to upload</p>
                    </div>
                  </section>
                </b-upload>
              </b-field>
            </ValidationProvider>
          </div>
          <b-notification
            type="is-success"
            :closable="false"
            aria-close-label="Close notification"
            v-if="ctestFile != null"
          >
            Der C-Test wurde auf folgende Schwierigkeit eingestuft:
            {{ ctestCalculatedDifficulty }}
          </b-notification>
          <b-field label>
            <b-button
              v-on:click="deleteFile"
              type="is-danger"
              icon-left="delete"
              v-if="ctestFile != null"
              >{{ ctestFile.name }}</b-button
            >
          </b-field>
          <button
            v-on:click="$parent.close()"
            class="px-8 py-2 bg-white-300 font-light text-blue-800 mt-4 border-2 border-blue-800 hover:border-blue-300 hover:text-blue-300 mr-4"
          >
            Schließen
          </button>
          <button
            class="px-8 py-2 bg-blue-800 font-light text-white mt-4 border-2 border-blue-800 hover:border-blue-900 hover:bg-blue-900"
            @click.prevent="importCTest"
          >
            Importieren
          </button>
          <b-loading
            :is-full-page="true"
            :active.sync="isLoading"
            :can-cancel="true"
          ></b-loading>
        </section>
      </ValidationObserver>
    </div>
  </form>
</template>

<script>
import axios from "@/utils/axios";
import { languageLevelMixin } from "../../mixins/languageLevelMixin.js";
const fs = require("fs");
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
const average = (list) =>
  list.reduce((prev, curr) => prev + curr) / list.length;
import { required } from "vee-validate/dist/rules";

extend("required", {
  ...required,
  message: "Es handelt sich um ein Pflichtfeld.",
});

function readCtest(file) {
  return new Promise((resolve, reject) => {
    let ctest = null;
    const reader = new FileReader();

    reader.onload = function(event) {
      ctest = JSON.parse(event.target.result);
      resolve(ctest);
    };
    reader.readAsText(file, "UTF-8");
  });
}

export default {
  mixins: [languageLevelMixin],
  data() {
    return {
      ctestName: "",
      ctestLanguage: "",
      ctestType: "",
      ctestEstimatedDifficulty: -1,
      ctestCalculatedDifficulty: -1,
      ctestFile: null,
      isLoading: false,
      cTestJson: null,
      availableLanguages: [],
      infoOpen: false,
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  methods: {
    openInfo() {
      this.infoOpen = !this.infoOpen;
    },
    deleteFile(index) {
      this.ctestFile = null;
    },
    async importCTest() {
      const validate = await this.$refs.observer.validate();
      if (!validate) {
        return;
      }
      let self = this;
      self.isLoading = true;
      let ctestImport = new FormData();
      let cTestName = this.ctestName;
      ctestImport.set("name", this.ctestName);
      ctestImport.set("language", this.ctestLanguage);
      ctestImport.set("type", this.ctestType);
      ctestImport.set("estimatedDifficulty", this.ctestEstimatedDifficulty);
      ctestImport.set("file", this.ctestFile);
      axios({
        method: "post",
        url: "/api/ctests/import",
        data: ctestImport,
        headers: { "Content-Type": "multipart/form-data" },
      })
        .then(function(response) {
          if (response.status == 200) {
            self.isLoading = false;
            self.$buefy.toast.open({
              duration: 3000,
              message: `C-Test: ${cTestName} erfolgreich importiert`,
              type: "is-success",
            });
            const ctest = response.data;
            ctest.nrOfEvaluations = 0;
            self.$store.dispatch("APPEND_CTEST_DATA", ctest);

            self.ctestName = "";
            self.ctestLanguage = "";
            self.ctestType = "";
            self.ctestEstimatedDifficulty = -1;
            self.ctestFile = null;
            self.$parent.close();
          } else {
            self.$buefy.toast.open({
              duration: 3000,
              message: `Es ist ein Fehler aufgetreten: ${response.status}`,
              type: "is-danger",
            });
          }
        })
        .catch(function(response) {
          self.isLoading = false;
          self.$buefy.toast.open({
            duration: 3000,
            message: `Something went Wrong :(`,
            type: "is-danger",
          });
        });
    },
  },
  watch: {
    ctestFile: async function f(val) {
      let counter = 0;
      let difficulties = [];
      if (val != null) {
        let ctest = await readCtest(val);
        if (ctest) {
          ctest.words.forEach((word) => {
            if (word.gapStatus === true) difficulties.push(word.difficulty);
          });
          let overallDifficulty = average(difficulties);
          this.ctestCalculatedDifficulty = this.diffcultyMapper(
            overallDifficulty
          );
          this.ctestEstimatedDifficulty = this.diffcultyMapper(
            overallDifficulty
          );
        }
        if (!this.ctestName) {
          this.ctestName = val.name;
        }
      }
    },
  },
  async created() {
    let languages = await axios.get(`/api/languages`);
    this.availableLanguages = languages.data;
  },
};
</script>
<style scoped>
.code {
  font-family: monospace;
}
</style>
