<template>
  <div class="container py-8 text-white">
    <div class="py-4 px-8">
      <div class="flex flex-row justify-start items-center ">
        <div class="text-white w-10 h-10 fill-current mr-2 flex-shrink-0 ">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            x="0px"
            y="0px"
            viewBox="0 0 100 125"
            enable-background="new 0 0 100 100"
            xml:space="preserve"
          >
            <g>
              <path
                fill="none"
                d="M20.057,19.428c0.629,2.845,3.303,4.505,6.079,4.829V24.15h49.879V12.394H27.636v0.009   c-3.326,0-6.83,1.588-7.573,4.549L20.057,19.428z"
              />
              <path
                fill="none"
                d="M27.136,29.021c-2.687,0-5.129-0.792-7.097-2.127l-0.125,54.692c0.019,3.703,3.986,5.701,7.722,5.701   l52.438,0.293l0.14-58.731H27.136V29.021z"
              />
              <path
                d="M84.844,24.15h-4.199V7.695h-0.646h-3.98H26.854v0.039c-5.746,0.303-11.568,3.919-11.568,10.397   c0,0.562-0.086,2.041,0,2.578l0.002,60.852h-0.002c0,0.01,0.002,0.019,0.002,0.027l-0.002,0.732h0.045   c0.463,6.279,6.549,9.666,12.293,9.666l57.067,0.318l0.149-63.457l0,0L84.844,24.15z M27.636,12.403v-0.009h48.379V24.15   l-49.879,0.107l0,0c-2.776-0.324-5.449-1.984-6.079-4.829l0.006-2.476C20.806,13.991,24.31,12.403,27.636,12.403z M80.073,87.58   l-52.438-0.293c-3.736,0-7.703-1.998-7.722-5.701l0.125-54.692c1.967,1.335,4.41,2.127,7.097,2.127l0,0l53.077-0.172L80.073,87.58z   "
              />
            </g>
            <g>
              <path
                d="M77.559,13.772H45.673c-0.829,0-1.5,0.671-1.5,1.5s0.671,1.5,1.5,1.5h31.886c0.828,0,1.5-0.671,1.5-1.5   S78.387,13.772,77.559,13.772z"
              />
              <path
                d="M54.314,18.941h-19.1c-0.829,0-1.5,0.671-1.5,1.5s0.671,1.5,1.5,1.5h19.1c0.828,0,1.5-0.671,1.5-1.5   S55.145,18.941,54.314,18.941z"
              />
            </g>
            <path
              d="M72.758,78.791L60.47,64.064c6.253-6.538,6.636-16.967,0.811-23.95c-3.502-4.198-8.659-6.55-14.146-6.454  c-4.082,0.072-8.057,1.552-11.19,4.166c-7.616,6.355-8.642,17.72-2.288,25.336c3.501,4.196,8.656,6.548,14.143,6.452  c0,0,0,0,0.001,0c3.063-0.055,6.062-0.89,8.694-2.419l12.379,14.835c0.492,0.592,1.217,0.923,1.989,0.909  c0.574-0.011,1.134-0.219,1.574-0.586C73.508,81.462,73.651,79.863,72.758,78.791z M60.844,52.847  c-0.322,3.579-2.017,6.814-4.768,9.109c-2.341,1.952-5.309,3.058-8.358,3.112c-4.1,0.072-7.952-1.685-10.568-4.82  c-4.746-5.689-3.979-14.181,1.71-18.927c2.34-1.953,5.308-3.058,8.357-3.112c4.1-0.072,7.952,1.685,10.568,4.822  C60.083,45.781,61.168,49.268,60.844,52.847z"
            />
          </svg>
        </div>
        <p class="font-bold leading-relaxed text-xl">
          Sprachnievau analysieren
        </p>
      </div>
      <div class="flex flex-col lg:flex-row justify-start mt-4">
        <UserDataSettings
          :user-data="userData"
          @resetUserData="onResetUserData"
          class="w-full lg:w-1/2 lg:mr-4 "
        ></UserDataSettings>
        <UserDataProgress 
        :user-data="userData"
        class="w-full lg:w-1/2 lg:ml-4 mt-8 lg:mt-0"
        ></UserDataProgress>
      </div>
    </div>
  </div>
</template>
<script>
import { RESET_USER_DATA } from "../../store/actions/userData";
export default {
  components: {
    UserDataSettings: () => import("@/components/UserData/UserDataSettings"),
    UserDataProgress: () => import("@/components/UserData/UserDataProgress"),
  },
  computed: {
    userData() {
      return this.$store.getters.getUserData;
    },
  },
  methods: {
    onResetUserData(resetHard) {
      this.$store.dispatch(RESET_USER_DATA, resetHard);
    },
  },
};
</script>
