<style>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-leave-active {
  transition: all 0.4s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: opacity 0.5s;
}
</style>
<template>
  <div class="bg-white rounded">
    <div class="bg-gray-300 px-4 p-4 rounded-t flex flex-row justify-between items-center">
      <p class="font-semibold text-gray-800 text-lg">Fortschritt</p>
      <template v-if="progressOpen">
        <!--         <svg
          @click="progressOpen = progressOpen"
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-gray-600 cursor-pointer"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"
          />
        </svg>-->
      </template>
      <template v-else>
        <svg
          @click="progressOpen = progressOpen"
          class="h-8 w-8 text-gray-600 cursor-pointer"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </template>
    </div>
    <!--  <transition name="slide-fade"> -->
    <div v-if="progressOpen" class="mb-8">
      <div class="flex flex-row flex-wrap p-4 justify-start">
        <div
          v-for="progress in userProgress"
          :key="progress.id"
          class="px-4 py-2 text-light text-base text-gray-800 rounded-sm m-1"
          :class="{
            'bg-blue-100': progress.status === 'IN_PROGRESS',
            'bg-green-500': progress.status === 'CORRECT',
            'bg-red-500': progress.status === 'WRONG',
            'bg-gray-500 opacity-25': progress.status === 'SKIPPED',
          }"
        >{{ progress.languageLevel }}</div>
      </div>
      <div class="flex flex-row text-gray-800 px-4 mt-2">
        <b-tooltip
          label="Aktuelle Einstufung deines Sprachniveaus."
          position="is-top"
          size="is-small"
          type="is-dark"
          animated
          multilined
        >
          <p class="mr-4" v-if="completedCTests.length > 0">Aktuelle Einstufung:</p>
        </b-tooltip>
        <p class="font-bold" v-if="completedCTests.length > 0">
          {{ userData.currentLanguageLevel }} ({{
          userData.currentLanguageLevel | languageLevelConversion
          }})
        </p>
      </div>
    </div>
    <!-- </transition> -->
  </div>
</template>
<script>
import { languageLevelMixin } from "../../mixins/languageLevelMixin.js";
export default {
  mixins: [languageLevelMixin],
  props: {
    userData: {
      type: Object
    }
  },
  data() {
    return {
      progressOpen: true
    };
  },
  computed: {
    userProgress() {
      return this.$store.getters.getProgress;
    },
    completedCTests() {
      return this.$store.getters.getCompletedCTests;
    }
  }
};
</script>
