<style>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.4s ease;
}
.slide-fade-leave-active {
  transition: all 0.4s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-10px);
  opacity: opacity 0.5s;
}
</style>
<template>
  <div class="bg-white rounded ">
    <div
      class="bg-gray-300 px-4 p-4 rounded-t flex flex-row justify-between items-center"
    >
      <p class="font-semibold text-gray-800 text-lg">Einstellungen</p>
      <template v-if="settingsOpen">
<!--         <svg
          @click="settingsOpen = settingsOpen"
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8 text-gray-600 cursor-pointer"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"
          />
        </svg> -->
      </template>
      <template v-else>
        <svg
          @click="settingsOpen = settingsOpen"
          class="h-8 w-8 text-gray-600 cursor-pointer"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </template>
    </div>
    <!-- <transition name="slide-fade"> -->
      <div v-if="settingsOpen" class="mb-8">
        <div class="flex flex-row text-gray-800 px-4 mt-2 ">
          <p class="mr-4">Sprache:</p>
          <p class="font-bold">
            {{ userData.trainedLanguage | getNameByISOCode }}
          </p>
        </div>
        <div class="flex flex-row text-gray-800 px-4 mt-2 ">
          <p class="mr-4">Sprachniveau:</p>
          <p class="font-bold">
            {{ userData.selfEstimatedLanguageLevel }} ({{
              userData.selfEstimatedLanguageLevel | languageLevelConversion
            }})
          </p>
        </div>
        <div id="settings-form" class="flex flex-col px-4 ">
          <div>
            <button
              @click.prevent="resetUserData"
              class="px-8 py-2 bg-white font-light text-sm text-gray-800 mt-4 border border-blue-800 hover:border-blue-500 hover:text-blue-500"
            >
              Zurücksetzen
            </button>
          </div>
          <b-checkbox v-model="resetHard" class="mt-4 w-full lg:w-2/3">
            <p class="text-sm text-gray-800">
              Ich möchte bereits abgeschlossene C-Tests erneut präsentiert
              bekommen.
            </p>
          </b-checkbox>
        </div>
      </div>
    <!-- </transition> -->
  </div>
</template>
<script>
import { languageLevelMixin } from "../../mixins/languageLevelMixin.js";
export default {
  mixins: [languageLevelMixin],
  props: {
    userData: {
      type: Object,
    },
  },
  data() {
    return {
      settingsOpen: true,
      resetHard: false,
    };
  },
  methods: {
    resetUserData() {
      this.$emit("resetUserData", this.resetHard);
    },
  },
};
</script>
