<template>
  <div class="mt-20 flex flex-row justify-center">
    <div class="flex flex-col text-left lg:w-2/3 px-12 lg:px-0">
      <ValidationObserver slim ref="observer" class="flex flex-col text-left ">
        <h2 class="font-bold text-3xl">Herzlich Willkommen!</h2>
        <p class="mt-4 wfont-light text-base">
          Auf dieser Seite kannst Du mithilfe von C-Tests Dein Sprachniveau
          herrausfinden und trainieren. Was genau ein C-Tests ist und wie Dein
          Sprachniveau berechnet wird, kannst hier nachlesen [LINK]
        </p>
        <p class="mt-4 wfont-light text-base">
          Wir versuchen Dir C-Tests entsprechend des Gemeinsamen Europäischen
          Referenzrahmens für Sprachen bereitzustellen. Damit Du direkt loslegen
          kannst, brauchen wir noch ein paar Informationen von Dir.
        </p>
        <div class="flex flex-col md:flex-row w-full mt-16">
          <ValidationProvider
            rules="required"
            v-slot="{ errors }"
            class="w-full "
          >
            <b-field
              label="Welche Sprache möchtest du trainieren? *"
              class="w-full "
              :type="{ 'is-danger': errors[0] }"
              :message="errors"
            >
              <b-select
                placeholder="Bitte wählen"
                class="w-full"
                v-model="trainedLanguage"
                expanded
              >
                <option
                  v-for="language in languages"
                  :key="language.id"
                  :value="language.languageCode"
                  >{{ language.language }}</option
                >
              </b-select>
            </b-field>
          </ValidationProvider>
        </div>
        <b-field label="Wie schätzt du dein Sprachnievau ein? *" class="mt-10">
          <b-slider
            v-model="selfEstimatedLanguageLevel"
            size="is-medium"
            :min="1"
            :max="6"
            :tooltip="false"
          >
            <b-slider-tick :value="1">
              <b-tooltip
                label="Entspricht ungefähr CEFR Nievau A1"
                position="is-bottom"
                size="is-small"
                type="is-dark"
                animated
                multilined
              >
                <div
                  class="flex flex-col justify-center items-center mt-2 text-sm font-bold"
                >
                  <p>1</p>
                  <p>(Anfänger)</p>
                </div>
              </b-tooltip>
            </b-slider-tick>
            <b-slider-tick :value="2">
              <b-tooltip
                label="Entspricht ungefähr CEFR Nievau A2"
                position="is-bottom"
                size="is-small"
                type="is-dark"
                animated
                multilined
              >
                <p class="mt-2 text-sm font-bold ">2</p>
              </b-tooltip>
            </b-slider-tick>
            <b-slider-tick :value="3">
              <b-tooltip
                label="Entspricht ungefähr CEFR Nievau B1"
                position="is-bottom"
                size="is-small"
                type="is-dark"
                animated
                multilined
              >
                <p class="mt-2 text-sm font-bold ">3</p>
              </b-tooltip>
            </b-slider-tick>
            <b-slider-tick :value="4">
              <b-tooltip
                label="Entspricht ungefähr CEFR Nievau B2"
                position="is-bottom"
                size="is-small"
                type="is-dark"
                animated
                multilined
              >
                <p class="mt-2 text-sm font-bold ">4</p>
              </b-tooltip>
            </b-slider-tick>
            <b-slider-tick :value="5">
              <b-tooltip
                label="Entspricht ungefähr CEFR Nievau C1"
                position="is-bottom"
                size="is-small"
                type="is-dark"
                animated
                multilined
              >
                <p class="mt-2 text-sm font-bold ">5</p>
              </b-tooltip>
            </b-slider-tick>
            <b-slider-tick :value="6">
              <b-tooltip
                label="Entspricht ungefähr CEFR Nievau C2"
                position="is-bottom"
                size="is-small"
                type="is-dark"
                animated
                multilined
              >
                <div
                  class="flex flex-col justify-center items-center mt-2 text-sm font-bold "
                >
                  <p>6</p>
                  <p>(Experte)</p>
                </div>
              </b-tooltip>
            </b-slider-tick>
          </b-slider>
        </b-field>
        <div class="flex flex-col md:flex-row w-full mt-16">
          <b-field label="Welche ist deine Muttersprache?" class="w-full ">
            <b-select
              placeholder="Bitte wählen"
              class="w-full"
              v-model="nativeLanguage"
              expanded
            >
              <option
                v-for="[code, language] in allLanguages"
                :key="language"
                :value="code"
                >{{ language }}</option
              >
            </b-select>
          </b-field>
        </div>
        <div class="flex flex-col md:flex-row w-full mt-16">
          <b-field label="Wie alt bist du?" class="w-full mr-0">
            <b-numberinput
              type="number"
              min="1"
              max="150"
              v-model="age"
              expanded
            ></b-numberinput>
          </b-field>
        </div>
        <button
          @click.prevent="submitUserData"
          :class="
            submitDisabled ? 'bg-gray-500' : 'bg-blue-800 hover:bg-blue-900'
          "
          class="mt-10 px-8 py-2 font-light text-white self-end "
        >
          Trainieren
        </button>
      </ValidationObserver>
    </div>
  </div>
</template>
<script>
import { languageLevelMixin } from "../../mixins/languageLevelMixin.js";
import axios from "@/utils/axios";
import { SET_USER_DATA } from "../../store/actions/userData";
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { required } from "vee-validate/dist/rules";

extend("required", {
  ...required,
  message: "Dieses Feld ist ein Pflichtfeld.",
});

export default {
  mixins: [languageLevelMixin],
  data() {
    return {
      languages: null,
      trainedLanguage: "DE",
      selfEstimatedLanguageLevel: 1,
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  created() {
    this.fetchLanguages();
  },
  computed: {
    isUserDataSet() {
      return this.$store.getters.isUserDataSet;
    },
    userData() {
      return this.$store.getters.getUserData;
    },
    nativeLanguage: {
      get: function() {
        return this.$store.getters.getUserDataNativeLanguage || "de";
      },
      set: function(nativeLanguage) {
        return this.$store.dispatch(
          "SET_USER_DATA_NATIVE_LANGUAGE",
          nativeLanguage
        );
      },
    },
    age: {
      get: function() {
        return this.$store.getters.getUserDataAge;
      },
      set: function(age) {
        return this.$store.dispatch("SET_USER_DATA_AGE", age);
      },
    },
    submitDisabled() {
      return !this.trainedLanguage || (this.age > 1 && 150 <= this.age);
    },
  },
  methods: {
    async submitUserData() {
      const validate = await this.$refs.observer.validate();
      if (!validate || this.submitDisabled) {
        return;
      }

      this.$store.dispatch(SET_USER_DATA, {
        trainedLanguage: this.trainedLanguage,
        nativeLanguage: this.nativeLanguage,
        selfEstimatedLanguageLevel: this.selfEstimatedLanguageLevel,
        currentLanguageLevel: this.selfEstimatedLanguageLevel,
        age: this.age,
      });
    },
    async fetchLanguages() {
      const languagesResponse = await axios.get("/api/languages");
      this.languages = languagesResponse.data;
     // this.trainedLanguage = "DE"
    },
  },
};
</script>
