<template>
  <div
    class="about flex flex-col justify-start container bg-white mt-8 md:my-20"
  >
    <div class="px-8 w-full md:w-2/3">
      <h2 class="text-2xl font-bold ">Über das Projekt</h2>
      <p class="text-base text-gray-800 font-light mt-2">
        Die hier zur Verfügung gestellte Applikation, ist im Rahmen eines
        Forschungsprojekts an der Universität Duisburg-Essen erstellt worden.
        Ziel des Projekt ist es, eine Website bereitzustellen, auf der C-Tests
        in verschiedenen Sprachen durchgeführt und ausgewertet werden können.
      </p>
      <p class="text-base text-gray-800 font-light mt-4">
        Gleichzeitig werden die Daten der Evaluationen über die breitgestellten
        C-Tests gesammelt, um ausgewertet werden zu können. Damit sollen sie zur
        Verbesserung, Auswertung und Weiterentwicklung bestehender C-Tests sowie
        zur Erstellung neuer C-Tests beitragen.
      </p>
      <p class="text-base text-gray-800 font-light mt-4">
        Eine der Hauptanforderungen der Anwendung bestand darin, dem Lernenden
        eine intuitive und einfache Möglichkeit zu bieten, C-Tests durchzuführen
        und zu trainieren. Darüber hinaus bietet das Programm einen ersten
        Versuch, eine Vorhersage über das Sprachniveau eines Teilnehmers auf der
        Grundlage der vorgenommenen Bewertungen zu treffen. Der Versuch bezieht
        sich insbesondere auch auf die Zuordnung des Sprachniveaus eines
        Benutzers zu den jeweiligen Sprachniveaus des Gemeinsamen Europäischen
        Referenzrahmens für Sprachen (CEFR).
      </p>
    </div>
    <div class="px-8 w-full md:w-2/3 mt-8">
      <h2 class="text-2xl font-bold ">Über C-Tests</h2>
      <p class="text-base text-gray-800 font-light mt-2">
        Bei einem C-Test, handelt es sich um einen schriftlichen Sprachtest zur
        Feststellung des Sprachniveaus eines Probanden in der Muttersprache oder
        in einer Fremdsprache.
      </p>
      <p class="text-base text-gray-800 font-light mt-4">
        Ein C-Test besteht meistens aus fünf thematisch voneinander unabhängigen
        Texten mit etwa zwanzig Lücken, welche ergänzt werden müssen. Die
        bekannteste Form ist vom Typ Prefix. Hier bleiben einige Buchstaben im
        ersten Teil des Wortes in Tackt, so dass die Lücke in der zweiten Hälfte
        des Wortes auftritt. Dadurch soll auch erreicht werden, dass nur exakt
        eine Lösung für das Wort in Frage kommt. Für weiterführende
        Informationen gibt es eine
        <a
          class="text-blue-500 hover:text-blue-800"
          href="http://www.c-test.de/deutsch/index.php"
          >Informationsseite über C-Tests</a
        >.
      </p>
    </div>
    <div class="px-8 w-full md:w-2/3 mt-8">
      <h2 class="text-2xl font-bold ">Über Sprachlevel</h2>
      <p class="text-base text-gray-800 font-light mt-2">
        In der hier bereitgestellten Applikation, versuchen wir das Sprachniveau
        auf die jeweiligen Sprachniveaus des Gemeinsamen Europäischen
        Referenzrahmens für Sprachen (CEFR) abzubilden. Der Referenzrahmen
        beschreibt die Sprachkenntnisse auf einer sechsstufigen Skala, die von
        A1 für Anfänger, bis hin zu C2 reicht, welches eine sehr gute
        Sprachbeherschung beschreibt. Für ausführlichere Informationen empfehlen
        wir die offiziele Webseite des
        <a
          class="text-blue-500 hover:text-blue-800"
          href="https://www.coe.int/en/web/common-european-framework-reference-languages/level-descriptions"
        >
          Council of Europe</a
        >.
      </p>
    </div>
  </div>
</template>
