<template>
  <section class="section container">
    <!-- <div class="container">
        <h1 class="title is-1 is-spaced has-text-centered">
          Hallo Admin!
        </h1>
        <h2
          class="subtitle is-4 is-spaced has-text-centered has-text-weight-light"
        >
          Willkommen Ein Forschungsprojekt der Universität Duisburg-Essen, dass
          sich mit der Analyse, Bearbeitung und Entwicklung von C-Tests
          beschäftigt.
        </h2>
    </div>-->
    <div class="flex flex-col flex-shrink-1">
      <div class="flex flex-col border-2 border-gray-300 rounded-md px-8 py-4 shadow-lg">
        <h4 class="text-3xl font-bold text-gray-800">Übersicht</h4>
        <CTestsTable class="overflow-hidden"></CTestsTable>
      </div>
      <div class="flex flex-col lg:flex-row justify-start mt-4">
        <div
          class="flex flex-col border-2 border-gray-300 rounded-md px-8 py-4 shadow-lg mt-4 w-full lg:w-2/3 lg:mr-4"
        >
          <h4 class="text-3xl font-bold text-gray-800 ">Sprachverteilung</h4>
          <LanguageDiagram></LanguageDiagram>
        </div>
        <div
          class="flex flex-col border-2 border-gray-300 rounded-md px-8 py-4 shadow-lg mt-4 w-full lg:w-1/3 lg:ml-4 h-full"
        >
          <div class="flex flex-col justify-start items-start mb-8">
            <h4 class="title">C-Test hinzufügen</h4>
            <b-button
              v-on:click="isUploadModalActive = true"
              class="px-8 py-2 bg-blue-800 font-light text-white mt-4 hover:bg-blue-900 hover:text-white w-full"
              >C-Test Importieren</b-button
            >
            <b-button
              v-on:click="isCreateModalActive = true"
              class="px-8 py-2 bg-blue-800 font-light text-white mt-4 hover:bg-blue-900 hover:text-white w-full"
              >C-Test erstellen</b-button
            >
          </div>
        </div>
      </div>
    </div>
    <b-modal
      :active.sync="isUploadModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="true"
      aria-role="dialog"
      aria-modal
    >
      <CTestUpload></CTestUpload>
    </b-modal>
    <b-modal
      :active.sync="isCreateModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-modal
    >
      <CTestCreate></CTestCreate>
    </b-modal>
  </section>
</template>

<script>
import axios from "@/utils/axios";
export default {
  name: "Admin",
  data() {
    return {
      isUploadModalActive: false,
      isCreateModalActive: false,
    };
  },
  components: {
    CTestsTable: () => import("@/components/CTest/CTestsTable"),
    CTestUpload: () => import("@/components/layout/UploadForm"),
    CTestCreate: () => import("@/components/layout/CreateForm"),
    LanguageDiagram: () => import("@/components/Diagrams/LanguageDistribution"),
  },
};
</script>
