<template>
  <div class="mb-20 container">
    <div class="flex flex-col">
      <router-link
        :to="{ name: 'Admin' }"
        class="font-regular text-gray-800 hover:text-blue-500"
      >
        <div class="flex flex-row items-center mt-10">
          <div class="w-4 h-4 fill-current mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M3.828 9l6.071-6.071-1.414-1.414L0 10l.707.707 7.778 7.778 1.414-1.414L3.828 11H20V9H3.828z"
              />
            </svg>
          </div>
          <p>zurück zur Übersicht</p>
        </div>
      </router-link>
      <div v-if="!isLoading">
        <div class="flex flex-col">
          <div class="px-4 py-4 bg-gray-200 my-10 rounded">
            <div class="flex flex-row justify-between items-center">
              <div class="flex flex-row text-3xl font-bold text-gray-800 ">
                <p class="mr-4">#{{ ctest.id }}</p>
                <p>{{ ctest.name }}</p>
              </div>
              <button
                @click.prevent="confirmDelete"
                class="px-8 py-2 bg-white font-light text-sm text-gray-800 mt-4 border border-blue-800 hover:border-blue-500 hover:text-blue-500"
              >
                Löschen
              </button>
            </div>
            <div
              class="flex flex-row text-base font-regular text-gray-800 mt-2 leading-relaxed"
            >
              <p class="mr-4 font-semibold">Sprache:</p>
              <p>{{ ctest.language }}</p>
            </div>
            <div
              class="flex flex-row text-base font-regular text-gray-800 leading-relaxed "
            >
              <p class="mr-4 font-semibold">Anzahl der Lücken:</p>
              <p>{{ ctest.nrOfGaps }}</p>
            </div>
            <div
              class="flex flex-row text-base font-regular text-gray-800 leading-relaxed"
            >
              <p class="mr-4 font-semibold">Anzahl der Evaluationen:</p>
              <p>{{ ctest.nrOfEvaluations }}</p>
            </div>
            <div
              class="flex flex-row text-base font-regular text-gray-800 leading-relaxed"
            >
              <p class="mr-4 font-semibold">Typ:</p>
              <p>{{ ctest.type }}</p>
            </div>

            <div
              class="flex flex-row text-base font-regular text-gray-800 leading-relaxed items-center"
            >
              <b-tooltip
                label="Einschätzung des Administrators. Anfänger (1) bis Experte (6)."
                multilined
              >
                <div class="w-4 h-4 fill-current mr-2 ">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                      d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                    />
                  </svg>
                </div>
              </b-tooltip>
              <p class="mr-4 font-semibold">Eingeschätzte Schwierigkeit:</p>
              <p>{{ ctest.estimatedDifficulty }}</p>
            </div>

            <div
              class="flex flex-row text-base font-regular text-gray-800 items-center leading-relaxed"
            >
              <b-tooltip
                label="Ergebnis der Evaluationen. Einfach (0.0) bis Schwer (1.0)."
                multilined
              >
                <div class="w-4 h-4 fill-current mr-2 ">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                      d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                    />
                  </svg>
                </div>
              </b-tooltip>
              <p class="mr-4 font-semibold">Evaluierte Schwierigkeit:</p>
              <p v-if="ctest.evaluatedDifficulty">
                {{ ctest.evaluatedDifficulty.toFixed(2) }}
              </p>
              <p v-else>
                0
              </p>
            </div>

            <div
              class="flex flex-row text-base font-regular text-gray-800 leading-relaxed items-center"
            >
              <b-tooltip
                label="Annotierte Schwierigkeit aus dem Import. Einfach (0.0) bis Schwer (1.0)."
                multilined
              >
                <div class="w-4 h-4 fill-current mr-2 ">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                      d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"
                    />
                  </svg>
                </div>
              </b-tooltip>
              <p class="mr-4 font-semibold">Vorhergesagte Schwierigkeit:</p>
              <p v-if="ctest.calculatedDifficulty">
                {{ ctest.calculatedDifficulty.toFixed(2) }}
              </p>
              <p v-else>
                0
              </p>
            </div>
          </div>
          <div>
            <div class="flex flex-row flex-wrap items-start">
              <div
                class="mr-2 my-4"
                :class="token.value.length < 2 && token.value == ',' || token.value == '.' || token.value == ':' ? 
            	    '-ml-2 mr-2' : 'mr-2 '"
                v-for="token in ctest.cTestTokens"
                :key="token.id"
              >
                <p v-if="!token.gapStatus">{{ token.value }}</p>
                <div v-else class="flex flex-col items-center justify-center">
                  <p>
                    {{ token.value.substring(0, token.offset)
                    }}<span>{{ "_".repeat(token.offset + 1) }} </span>
                  </p>
                  <div
                    class="text-green-500 flex flex-row justify-start items-center"
                  >
                    <b-icon icon="arrow-right" size="is-small"> </b-icon>
                    <p>{{ token.value }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <CTestDetailTable
            class="mt-10"
            :tokens="ctestTokenGaps"
          ></CTestDetailTable>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isLoading: true,
    };
  },
  components: {
    CTestDetailTable: () => import("@/components/CTest/CTestDetailTable"),
  },
  computed: {
    ctest() {
      return this.$store.getters.getSelectedCtest;
    },
    ctestToken() {
      return this.ctest.cTestTokens;
    },
    ctestTokenGaps() {
      if (!this.ctest.cTestTokens) return;
      let ctestToken = this.ctest.cTestTokens.filter(
        (token) => token.gapStatus
      );
      ctestToken.map((token) => {
        token.mostCommonError = token.cTestTokensMistakes.length
          ? token.cTestTokensMistakes.reduce((a, b) =>
              a.count > b.count ? a : b
            )
          : 0;
      });
      return ctestToken;
    },
  },
  methods: {
    confirmDelete() {
      this.$buefy.dialog.confirm({
        title: "C-Test löschen",
        message:
          "Sind Sie sicher, dass Sie diesen C-Test <b>löschen</b> möchten? Die Aktion kann nicht rückgängig gemacht werden.",
        confirmText: "C-Test löschen",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () => this.deleteCTest(),
      });
    },
    async deleteCTest() {
      // actual delte
      // onSuccess -> redirct + notification
      // on false -> notification
      const response = await this.$store.dispatch("DELETE_CTEST", this.ctest.id);
      if(response.status == 200) {
          this.$router.push({ name: "Admin"})
          this.$buefy.toast.open({
              duration: 3000,
              message: `Der C-Test wurde erfolgreich gelöscht.`,
              type: "is-success",
          });
      }else {
          this.$buefy.toast.open({
              duration: 3000,
              message: `Es tut uns leid, da ist etwas schief gelaufen.`,
              type: "is-danger",
          });
      }
    }
  },
  async created() {
    await this.$store.dispatch(
      "SET_SELECTED_CTEST_DATA",
      this.$route.params.ctestId
    );
    this.isLoading = false;
  },
};
</script>
