<template>
  <div class="home mb-20">
    <section class="">
      <div v-if="isUserDataSet" class="bg-blue-300">
        <UserDataHeader></UserDataHeader>
      </div>
      <div v-else class="bg-blue-300">
        <div class="container py-20">
          <h1 class="font-bold text-4xl text-white text-center mb-6">
            Teste deine Sprachfähigkeiten
          </h1>
          <h2 class="font-base text-lg text-white text-center px-10 lg:px-64">
            Ein Forschungsprojekt an der Universität Duisburg-Essen für
            die Analyse, Bearbeitung und Entwicklung von C-Tests.
          </h2>
        </div>
      </div>
      <div class="container bg-white ">
        <UserDataWelcomeComponent
          v-if="!isUserDataSet"
        ></UserDataWelcomeComponent>
        <CTestViewComponent v-else></CTestViewComponent>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {
    UserDataWelcomeComponent: () =>
      import("@/components/UserData/UserDataWelcomeComponent"),
    CTestViewComponent: () => import("@/components/CTest/CTestViewComponent"),
    UserDataHeader: () => import("@/components/layout/UserDataHeader"),
  },
  computed: {
    isUserDataSet() {
      return this.$store.getters.isUserDataSet;
    },
  }
};
</script>
