<template>
  <section class="section">
    <div class="container">
      <div class="columns is-mobile is-centered has-background-white">
        <div class="column is-full-mobile is-half-desktop">
          <div class="box">
            <form @keyup.enter="login">
              <b-field label="Name" :type="{ 'is-danger': !requiredFilled && !username }">
                <b-input v-model="username" autofocus></b-input>
              </b-field>
              <b-field label="Passwort" :type="{ 'is-danger': !requiredFilled && !password }">
                <b-input v-model="password" type="password" value="iwantmytreasure" password-reveal></b-input>
              </b-field>

              <div class="columns is-centered">
                <div class="column has-text-centered">
                  <b-button
                    v-on:click="login"
                    type="is-primary"
                    icon-left="arrow-right-bold-circle"
                    class="is-medium"
                    expanded
                  >Anmelden</b-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { AUTH_REQUEST } from "../store/actions/auth";

export default {
  methods: {
    login: function() {
      if (!this.username || !this.password) {
        this.requiredFilled = false;
        return;
      }
      this.requiredFilled = true;
      const { username, password } = this;
      this.$store
        .dispatch(AUTH_REQUEST, { username, password })
        .then(() => {
          this.$router.push("/admin");
        })
        .catch(error => {
          let errorMessage = error.message;
          if (error.response.status == "400") {
            errorMessage =
              "Anmeldung fehlgeschlagen! Bitte überprüfen Sie Benutzername und Passwort.";
          }
          this.$buefy.toast.open({
            duration: 3000,
            message: errorMessage,
            type: "is-danger"
          });
        });
    }
  },
  data() {
    return {
      username: "",
      password: "",
      requiredFilled: true
    };
  }
};
</script>
